<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script src="abcd.js"></script>
<body>

<div class="container" ng-app="">
	<div class="row">
		<div class="col-md-12">
			<p>simple contact form</p>
			<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
			<p>Email : <input type="text" ng-model="email" placeholder="Enter name here"></p>
			<p>contact number : <input type="text" ng-model="mob" placeholder="Enter name here"></p>

			<h1>Hello {{name}}</h1>
			<h2>email entered is  {{email}}</h2>
			<h2>number is {{mob}}</h2>	
		</div>
		
</div> 

		

	</div>


</div>

</body>
</html>