 <!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script src="abcd.js"></script>
<body>

<body ng-app='app1'>
    <div id='todo' ng-controller='todo'>
      <h3>Your Shoping cart list</h3>
        <div ng-repeat='x in lst'>
          <h4>{{x.item}}</h4>
        </div>
      <br>
     
   <p> enter item:
   <input type="text" ng-model='addItem'/>
   </p>
   <button ng-click='addTolist(addItem)'>Add to list</button>
    <h2>{{NoItemError}}</h2>
    </div> <!-- End of todo -->
 <script>
var app1 = angular.module('app1', []);
app1.controller('todo', function($scope) {
$scope.lst = [
{item:'books Shoping', needed:false},
{item: 'meet friend', needed:false},
{item:'Complete Assignments', needed:false}
]


$scope.addTolist = function(addItem){
 if (!(addItem === undefined || addItem === '')){
     $scope.lst.push({item: addItem, needed: false});
     $scope.NoItemError = '';
     } else {
        $scope.NoItemError = 'Please enter an item';
            }
}
});
</script>
</body>